.input__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    input {
        border: 0;
        width: 100%;
        padding: 10px 0;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        border-bottom: 1px solid #D6DBE7;
        border: 0;

        &::placeholder {
            color: #A0A9BE;
        }

        &:focus {
            outline: none;
            border: 0;
            border-bottom: 1px solid #4B7BF5;
        }
    }
    img {
        z-index: 1;
        position: absolute;
        margin-left: 89%;
    }
    border-bottom: 1px solid #D6DBE7;
}